
<h1>Stupid Coaching</h1>

<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="question" placeholder="Type in your question">
  <input type="submit" value="Ask!">
</form>
